<main>
  <h1>Создание брони столика</h1>

  <p>Нажмите 'Add' чтобы добавить бронь.</p>
  <p>Нажмите 'Delete' чтобы удалить свою бронь.</p>

  <label for='input'></label><input id='input' type='text' placeholder="Type where you want to book a table" />
  <button onclick="pushIt()">Add</button>

  <button onclick="popIt()">Delete</button>
  <div id="demo"></div>
</main>