<footer>
  <div class="footerTextPicture">
    <h2 class="myHeadersFooter">Наша контактная информация:</h2>
    <ul class="myTextFooter">
      <li>phone number- +7 666 555 444</li>
      <li>our mail- kuts_restaurant@gmail.com</li>
    </ul>
    <h2 class="myHeadersFooter">Ссылка со всеми наградами ресторана:</h2>
    <ol class="myTextFooter">
      <li>https://kutsreataurant/rewards.com</li>
    </ol>
  </div>

  <div>
    <script>
      let result = performance.now() - {{dataTime}};
      let text = document.createTextNode(' Load time user(client): '+result+' ms');
      console.log(text);
    </script>
  </div>
</footer>