<footer>
  <div class="myText">
    <h2 class="myHeaders">
      Наша контактная информация:
    </h2>
    <ul>
      <li>phone number- +7 666 555 444</li>
      <li>our mail- kuts_restaurant@gmail.com</li>
    </ul>
    <h2 class="myHeaders">
      Ссылка со всеми наградами ресторана:
    </h2>
    <ol>
      <li>https://kutsreataurant/rewards.com</li>
    </ol>

  </div>
  <div>
    Total load time for server : {{dataTime}} ms
    <script>
      let result = {{dataTime}} - performance.now();
      let text = document.createTextNode(' Load time user(client): '+result+' ms');
    </script>
  </div>
</footer>