<footer class="myBackImageFooter">
  <div class="myText">
    <h2 class="myHeaders">
      Наша контактная информация:
    </h2>
    <ul>
      <li>phone number- +7 666 555 444</li>
      <li>our mail- kuts_restaurant@gmail.com</li>
    </ul>
    <h2 class="myHeaders">
      Ссылка со всеми наградами ресторана:
    </h2>
    <ol>
      <li>https://kutsreataurant/rewards.com</li>
    </ol>
    <script src="/Scripts/LoadTime1.js"></script>
  </div>
  <div>Total load time for server : {{dataTime}} ms</div>
  <div>Total load time for user(client) : {{dataTime}} ms</div>
</footer>