<header>
  <nav>
    <ul class="menu-main">
      <li><a href="/index" class="current">Main page</a></li>
      <li><a href="/RestaurantMenu">Restaurant menu</a></li>
      <li><a href="/BookTable">Book a table</a></li>
      <li><a href="/RestLocation">Location of our restaurants</a></li>
      <li><a href="/ContactUs">Contact us</a></li>
      <li><a href="/LogInOut" id="logInOut">Log in</a></li>
    </ul>
  </nav>
</header>