<header>
  <nav>
    <ul class="menu-main">
      <li><a href="/index" id="index" onclick="ChangeCurrent(event)">Main page</a></li>
      <li><a href="/RestaurantMenu" id="RestaurantMenu" onclick="ChangeCurrent(event)">Restaurant menu</a></li>
      <li><a href="/BookTable" id="BookTable" onclick="ChangeCurrent(event)">Book a table</a></li>
      <li><a href="/RestLocation" id="RestLocation" onclick="ChangeCurrent(event)">Location of our restaurants</a></li>
      <li><a href="/ContactUs" id="ContactUs" onclick="ChangeCurrent(event)">Contact us</a></li>
      <li><a href="/LogInOut" id="logInOut" onclick="ChangeCurrent(event)">Log in</a></li>
      <li><a id="logOut">Log out</a></li>
      <li><a href="/LiveChat" id="liveChat" onclick="ChangeCurrent(event)">Chat</a></li>
    </ul>
  </nav>
  <div class="restNameMenu">Kuts restaurant</div>
</header>