<main>
    <div class="chat-design">
        <div class="">
            <ul id="messages"></ul>
        </div>
         <input id="message" type="text" placeholder="enter message" />
         <button id="submit" onclick="handleSubmitNewMessage()">Submit</button>
    </div>
</main>