<head>
  <title>Kuts restaurant</title>
  <meta charset="UTF-8">
  <meta name="keywords" content="изысканная кухня, незабываемые впечатления, великолепный сервис">
  <meta name="description" content="3 мишленовских звезды,
     французская и итальянская кухни, только высоко квалифицированные сотрудники,
     соответствие новым тенденциям, мастерство и удивительные сочетания вкусов">

  {{>StyleBundles}}
  <link rel = "stylesheet" href="/Styles/LogInForm.css">
</head>