<main>
  <div class="picture_with_text">
    <div class="picture_or_text">
      <h2 class="myHeaders">Описание ресторана</h2>

      <p class="myText">Вашему вниманию представляется эксклюзивный ресторан, удерживающий 3 мишленовских звезды.
         Наше заведение специализируется на французской и итальянской кухнях, обладает только высоко квалифицированными сотрудниками.
         Мы постоянно следим за новыми тенденциями в кулинарном мире, совершенствуя своё мастерство и открывая новые удивительные сочетания вкусов
      </p>
    </div>

    <div class="picture_or_text">
      <img src="https://www.restoclub.ru/uploads/place_thumbnail_big/8/9/6/b/896b89bfd1c2f666528682f05e17ce63.jpg" alt="Картинка ресторана">
    </div>
  </div>

  <div class="divide_picture_soup">
    <p class="myText_soup">Попробуйте наши новые блюда восточной кухни</p>
  </div>

  <div class="picture_with_text">
    <div class="picture_or_text"><img src="../Images/menu.jpg" width="100%" height="100%"></div>

    <div class="picture_or_text">
      <h2 class="myHeaders">История создания ресторана</h2>

      <p class="myText">Вашему вниманию представляется эксклюзивный ресторан, удерживающий 3 мишленовских звезды.
        Наше заведение специализируется на французской и итальянской кухнях, обладает только высоко квалифицированными сотрудниками.
        Мы постоянно следим за новыми тенденциями в кулинарном мире, совершенствуя своё мастерство и открывая новые удивительные сочетания вкусов
      </p>
    </div>
  </div>

  <div class="divide_picture_coffee">
    <p class="myText_coffee">Начните свой день с вкусного, полезного и сытного завтрака !</p>
  </div>

  <div class="picture_with_text">
    <div class="picture_or_text">
      <h2 class="myHeaders">Расположение ресторана</h2>

      <p class="myText">Мы находимся в городе N, улица гурманов, дом 69</p>
    </div>

    <div class="picture_or_text"><img src="../Images/map1.png" width="100%" height="100%"></div>
  </div>
</main>