<main>
  <article class="myText">
    <h2 class="myHeaders">
      Описание ресторана
    </h2>
    Вашему вниманию представляется эксклюзивный ресторан, удерживающий 3 мишленовских звезды.
    Наше заведение специализируется на французской и итальянской кухнях, <br> обладает только высоко квалифицированными сотрудниками.
    Мы постоянно следим за новыми тенденциями в кулинарном мире, <br> совершенствуя своё мастерство и открывая новые удивительные сочетания вкусов
  </article>

  <section class="myText">
    <h2 class="myHeaders">
      Расположение ресторана
    </h2>
    Мы находимся в городе N, улица гурманов, дом 69
    <!--сюда бы фото карты-->
  </section>

  <aside class="myText">
    <h2 class="myHeaders">
      История создания ресторана
    </h2>
    <pre class="myShadow">
                  |\__/,|   (`\
                _.|o o  |_   ) )
              -(((---(((--------
    </pre>
  </aside>
</main>