<main>
  <div class="test_preloader">
    <div class="preloader preloader_inbox">
      <div class="preloader__image"></div>
    </div>
  </div>

  <script src="public/Scripts/Networking.js"></script>
  <script src="public/Scripts/LoadTime1.js"></script>
  <script src="public/Scripts/CheckLog.js"></script>
</main>