<main>
  <div class="test_preloader">
    <div class="preloader preloader_inbox">
      <div class="preloader__image"></div>
    </div>
  </div>

  <div>

    <div class="divide_picture_coffee">
      <p class="myText_coffee">Завтраки</p>
    </div>
    
    <div class="rest_menu_all">
      <div class="rest_menu_part">
        <img src="../Images/eggs.jpg" width="100%" height="100%">
        <p class="myText">Завтрак №1 Яичница</p>
      </div>
      <div class="rest_menu_part">
        <img src="../Images/kasha.jpg" width="100%" height="100%">
        <p class="myText">Завтрак №2 Каша</p>
      </div>
      <div class="rest_menu_part">
        <img src="../Images/omlet.jpg" width="100%" height="100%">
        <p class="myText">Завтрак №3 Омлет </p>
      </div>
    </div>
    
    <div class="divide_picture_soup">
      <p class="myText_soup">Блюда восточной кухни</p>
    </div>

    <div class="rest_menu_all">
      <div class="rest_menu_part">
        <img src="../Images/wok.jpeg" width="100%" height="100%">
        <p class="myText">Блюдо №1 Вок</p>
      </div>
      <div class="rest_menu_part">
        <img src="../Images/Ramen.jpg" width="100%" height="100%">
        <p class="myText">Блюдо №2 Рамен</p>
      </div>
      <div class="rest_menu_part">
        <img src="../Images/takoyaky.jpg" width="100%" height="100%">
        <p class="myText">Блюдо №3 Такояки </p>
      </div>
    </div>

  </div>




  <script src="/Scripts/Networking.js"></script>
  <script src="/Scripts/LoadTime1.js"></script>
  <script src="/Scripts/CheckLog.js"></script>
</main>