
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #9d999d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 0 25% 0 25%;
    background-color: white;
    padding-top: 20px;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 30%;
}

/* Add padding to containers */
.container {
    width: 30%;
    margin: 0 25% 12px 25%;
    padding: 20px 10% 5% 10%;
    background-color: white;

}
